<a href="https://colab.research.google.com/github/Cassio-Tieres/WineClassifierML/blob/main/Wine_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

dataset = pd.read_csv('/content/wine_dataset.csv')

In [ ]:
dataset.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [ ]:
#agrupa estilo do vinho.

agrupa_styles = dataset.groupby(['style']).size()
agrupa_styles

style
red      1599
white    4898
dtype: int64

In [ ]:
#confere se existem valores núlos
dataset.isnull().sum()

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
style                   0
dtype: int64

In [ ]:
#altera formato de texto para número, onde o vinho vermelho é representado pelo 0
#e o vinho branco é representado pelo 1.

dataset['style'] = dataset['style'].replace('red', 0)
dataset['style'] = dataset['style'].replace('white', 1)

#verificando se foi aplicado sem erros.
dataset

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,1
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,1
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,1
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,1
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,1

In [ ]:
# separa as variáveis entre preditoras e variável alvo(variáveis que queremos prever).

y = dataset['style'] # variável alvo
x = dataset.drop('style', axis = 1) # recebe todo o resto das colunas (preditoras)

In [ ]:
# cria os conjuntos de dados de treino e teste

from sklearn.model_selection import train_test_split as tts

x_treino, x_teste, y_treino, y_teste = tts(x, y, test_size = 0.3)

In [ ]:
x_treino.shape

(4547, 12)

In [ ]:
# Cria modelo
from sklearn.ensemble import ExtraTreesClassifier as etc

model = etc()
model.fit(x_treino, y_treino)


# Imprime resultados
result = model.score(x_teste, y_teste)
print(f'Acurácia: {result}')

Acurácia: 0.997948717948718

In [ ]:
y_teste[400:403]

6018    1
612     0
5088    1
Name: style, dtype: int64

In [ ]:
x_teste[400:403]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
6018,6.6,0.22,0.23,17.3,0.047,37.0,118.0,0.99906,3.08,0.46,8.8,6
612,7.5,0.64,0.00,2.4,0.077,18.0,29.0,0.99650,3.32,0.60,10.0,6
5088,6.7,0.28,0.31,7.4,0.041,7.0,81.0,0.99254,3.04,0.47,11.4,8

In [ ]:
previsoes = model.predict(x_teste[400:403])
previsoes

array([1, 0, 1])